{% extends 'main/base/base.html' %}
{% block content %}
    {% include 'main/base/nav.html' %}
    <section class="review-detail">
        <div class="review-detail__container container">
            <div class="review-item">
                <div class="review-item__header">
                    <div class="review-item__author">Имя Фамилия</div>
                    <div class="review-item__rating">4 / 5</div>
                </div>
                <div class="review-item__body">
                    <div class="review-item__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere odit
                        odio consequuntur, delectus laborum numquam. Debitis ipsum, tempora et id similique ea odit
                        placeat ex amet iste, architecto assumenda illo dignissimos voluptatem eos mollitia officia.
                        Rem, libero quibusdam officia magnam alias qui eos deserunt beatae ipsum? Laudantium delectus
                        natus veniam fugiat repellat iure neque amet nesciunt unde. Voluptatibus saepe quis at ad,
                        quisquam neque animi dolores enim ullam alias quae fugiat deleniti aut deserunt. Nihil assumenda
                        iste ipsam voluptates eligendi veniam aspernatur officiis optio explicabo asperiores est quod
                        vel quisquam corporis necessitatibus ullam reprehenderit sint, incidunt ut debitis. Quasi
                        corrupti voluptate, et velit itaque, maxime, exercitationem ipsum optio deserunt maiores veniam?
                        Quia in officia obcaecati, vel labore rerum velit consectetur reiciendis? Distinctio nostrum
                        debitis explicabo a libero ipsam quo repellat dolor, ex voluptatibus, dicta nesciunt delectus
                        voluptatum, harum necessitatibus ut sint inventore placeat sequi magnam minima aut temporibus.
                        Fuga dolor sed autem dolore aliquid doloremque obcaecati, expedita, quas accusamus laboriosam,
                        delectus voluptatem nobis eum debitis cumque distinctio. Placeat laboriosam, sunt libero minima
                        voluptates, numquam odio nesciunt quasi velit et, cum iste voluptatibus? Nesciunt iure assumenda
                        optio mollitia magnam temporibus deleniti esse dolorem a, voluptatum quod vel, pariatur
                        laudantium perspiciatis rerum unde culpa, ducimus voluptatibus reprehenderit repellat sapiente
                        quae similique ipsam asperiores. Aliquam praesentium facilis possimus, reiciendis, accusantium
                        rem debitis pariatur error officiis, saepe voluptatibus? Voluptates eum assumenda at voluptate
                        ea repellat, architecto saepe perferendis? Similique id reiciendis, exercitationem repellendus
                        tempora dolores animi dolor! Ratione eos hic adipisci aliquam rerum natus accusamus, quisquam
                        ipsum? Quasi aut error laudantium natus eligendi quibusdam architecto qui veniam, itaque hic sit
                        mollitia, optio laboriosam necessitatibus sapiente dolor aspernatur, repudiandae sunt. Accusamus
                        assumenda totam facilis, quos aliquam obcaecati facere incidunt laudantium sapiente laboriosam
                        illo ducimus! Quidem rerum neque illum earum ex iusto sequi, minima aliquam mollitia?
                    </div>
                </div>
                <div class="review-item__footer">
                    <div class="review-item__date">16.05.2021</div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}